body {
	margin-top: 80px;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: none !important;
}

#resultArea {
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	overflow: 0;
	animation: results 0.3s ease-out;
}

#modalHeader {
	padding: 10px;
	background: #2b78fa;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#results {
	font-weight: bold;
	background: white;
	margin: 100px auto;
	width: 300px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#results h1 {
	padding-top: 10px;
	font-size: 5rem;
}

#helpBtn {
	font-size: 1rem;
	color: red;
	height: 20px;
	width: 40px;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 45px;
	border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
